body{
    background-color: rgb(92, 185, 240) !important;
}

.title{
    margin: 2%;
}

.form-control{
    width: 30% !important;
    justify-content: center;
    align-items: center;
    margin: auto;
}